### Dataviz: Black Friday Dataset ###

In [1]:
# import pandas
import pandas as pd

# open the dataset
df = pd.read_csv('BlackFriday.csv')

#preview the data
df.head(5)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

### Classificação das Variáveis ####

In [2]:
# classification of the variables
tipo_variaveis = [  ['User_ID', ''],
                    ['Product_ID', ''],
                    ['Gender', ''],
                    ['Age', ''],
                    ['Occupation', ''],
                    ['City_Category', ''],
                    ['Stay_In_Current_City_Years', ''],
                    ['Marital_Status', ''],
                    ['Product_Category_1', ''],
                    ['Product_Category_2', ''],
                    ['Product_Category_3', ''],
                    ['Purchase', '']]

tipo_variaveis = pd.DataFrame(tipo_variaveis, columns=['Variável', 'Classificação'])

display(tipo_variaveis)

                      Variável Classificação
0                      User_ID
1                   Product_ID
2                       Gender
3                          Age
4                   Occupation
5                City_Category
6   Stay_In_Current_City_Years
7               Marital_Status
8           Product_Category_1
9           Product_Category_2
10          Product_Category_3
11                    Purchase

###

### Análise Exploratória: Entendento o dataset

In [ ]:
# relationship between variables